[submodule "/xm/xamarin-forms-samples/WebServices/TodoREST"]
  path = xm/xamarin-forms-samples/WebServices/TodoREST
  url = https://github.com/poligonosapp/xamarin-forms-samples.git
  url = https://github.com/poligonosapp/poligonosdemos/tree/main/xm/xamarin-forms-samples/WebServices/TodoREST

[submodule "packages/poligonosapp_consumer"] 
  path =  packages/poligonosapp_consumer
  url = https://github.com/poligonosapp/poligonosdemos/tree/main/packages/poligonosapp_consumer

[submodule "packages/pwa-play-billing"] 
  path =  packages/pwa-play-billing
  url = https://github.com/poligonosapp/poligonosdemos/tree/main/packages/pwa-play-billing

[submodule "packages/tut-react-and-spring-data-rest/"] 
  path =  packages/tut-react-and-spring-data-rest/
  url = https://github.com/poligonosapp/poligonosdemos/tree/main/packages/tut-react-and-spring-data-rest/
